/* Formulario de Comentarios */
#contact {
    background-color: #F0B000;
    padding-left: 5%;
    color: #000000;
    text-align: start;
}

.itemform {
    display: grid;
    grid-template-columns: 150px 350px;
    justify-content: center;
    padding: 5px;
}

.itemform label {
    font-weight: 700;
}

.itemform input, .itemform textarea {
    border-radius: 5px;
    border: 1px solid white;
}

input[type="submit"] {
    font-size: 15px;
    background-color: #000000;
    color: white;
    padding: 10px;
    grid-column: 2/3;
    justify-self: end;
    border: 1px solid #1c386b;
}

@media (min-width: 1367px) {
    .itemform {
        font-size: 50px;
    }
}

/* Formulario de Inicio de Sesión */
#login h2 {
    text-align: start;
    font-size: 30px;
}

#loginbtn, #signupbtn {
    font-size: 15px;
    width: 150%;
    background-color: #F0B000;
    color: black;
    padding: 10px;
    grid-column: 1/2;
    justify-self: start;
    border: 0;
}

#loginbtn:hover, #signupbtn:hover {
    color: #F0B000;
    background-color: #000000;
}

#credenciales {
    grid-column: 2;
    grid-row: 1;
    font-size: 20px;
}

input[type="password"], #email {
    width: 300%;
    font-size: 22px;
}

#mensajeL {
    padding: 100px 10px 100px 45px;
}

#login form {
    color: white;
    padding: 50px 50px 0 0;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
    align-items: center;
}

/* Estilos generales de la página */
.Cuerpo #contact, .Cuerpo #contact h2 {
    background-color: #1c386b;
    color: white;
}

.Cuerpo #contact input[type="submit"] {
    background-color: #F0B000;
    color: black;
}

.Cuerpo #contact input[type="submit"]:hover {
    background-color: black;
    color: #F0B000;
}

#password {
    width: auto;
}
